****
filter()
****

In [10]:
numbers = [3,6,3,2,8,5,6,1,2,4,7,8]

def is_even(num):
  return num % 2 == 0

even_numbers = []
for num in numbers:
  if (is_even(num)):
    even_numbers.append(num)

print(even_numbers)

[6, 2, 8, 6, 2, 4, 8]

In [11]:
def is_even(num):
  return num % 2 == 0

list(filter(is_even , numbers))

[6, 2, 8, 6, 2, 4, 8]

In [9]:
list(filter(lambda n : n%2 == 0 , numbers))

[6, 2, 8, 6, 2, 4, 8]

In [12]:
words = ["apple" , "grape" , "orange" , "kiwi" , "strawberry" , "banana"]

#Use filter to filter words with number of characters equal or less then 5..

def is_short_word(text):
  return len(text) <= 5

is_short_word("grape")

True

In [13]:
def is_short_word(text):
  return len(text) <= 5

list(filter(is_short_word , words))

['apple', 'grape', 'kiwi']

In [14]:
numbers = [-2 , -1 , 0 , 1 , 2 , 3, 4, -5 , 6,  -7]

#Use filter to filter positive numbers

list(filter(lambda x : x >= 0, numbers))

[0, 1, 2, 3, 4, 6]

****
any()
****

In [18]:
any((False,False,False,False,True))

True

In [19]:
any((False,False,False,False,False))

False

In [16]:
numbers = [1,3,5,8,9]

#find if there is any even number exist or not

for num in numbers:
  print(num % 2 == 0)

False
False
False
True
False

In [21]:
numbers = [1,3,5,8,9]

#find if there is any even number exist or not

any([num % 2 == 0 for num in numbers])

True

In [22]:
numbers = [1,3,5,9]

#find if there is any even number exist or not

any([num % 2 == 0 for num in numbers])

False

In [25]:
values = [-1,0,4,5,3,2]

#Check if any value in the given list is negative

any([val < 0 for val in values])

True

****
all()
****

In [26]:
all((True,True,True,False,True,True))

False

In [27]:
all((True,True,True,True,True))

True

In [29]:
values = [2,4,6,8]

#use all() to check if all elements in the list are greater than zero or not..

all([val > 0 for val in values])

True

In [30]:
words = ["Hello" , "world" , " " , "Python"]

In [33]:
#check if any word in the list have 1st character in upper case

any([word[0].isupper() for word in words])

True

In [34]:
#check if all word in the list have 1st character in upper case
all([word[0].isupper() for word in words])

False